<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Description | default .Summary }}{{ end }}">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if .Keywords }}<meta name="keywords" content="{{ delimit .Keywords ", " }}">{{ end }}
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{ block "head" . }}{{ end }}
    {{- partialCached "rss_feed_link.html" . -}}
</head>
<body>
    <header>
        {{ block "header" . }}
            {{ partial "header.html" . }}
        {{ end }}
    </header>
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    <footer>
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </footer>
</body>
</html>
