{{ define "main" }}
<article>
    {{/* <h1>{{ .Title }}</h1> */}}
    {{ .Content }}

    <section>
        {{ range .Pages }}
            <article class="post-preview">
                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <p>{{ .Description | default .Summary }}</p>
                <div class="tags">
                    {{ range .Params.tags }}
                        <a href="{{ "/tags/" | relURL }}{{ . | urlize }}">{{ . }}</a>
                    {{ end }}
                </div>
                <small>
                    Published: {{ .Date.Format "January 2, 2006" }}
                    {{ with .GitInfo }}
                        {{ if ne $.Date .AuthorDate }}
                            | Last Modified: {{ .AuthorDate.Format "January 2, 2006" }}
                        {{ end }}
                    {{ end }}
                </small>
            </article>
            <hr>
        {{ else }}
            <p>Nothing in this section yet.</p>
        {{ end }}
    </section>
</article>
{{ end }}
